################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PixelEngineTesting/.vs/PixelEngineTesting/v15/Browse.VC.opendb
/PixelEngineTesting/.vs/PixelEngineTesting/v15/Browse.VC.db
/PixelEngineTesting/x64/Debug
/PixelEngineTesting/PixelEngineTesting/x64/Debug/PixelEng.759944A0.tlog
/PixelEngineTesting/PixelEngineTesting/x64/Debug
